
<div class="d-flex flex-column flex-md-row align-items-center py-2 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-danger text-decoration-none">
      <app-header></app-header>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-danger text-decoration-none" href="#">About</a>
      <a class="me-3 py-2 text-danger text-decoration-none" href="#">Products</a>
      <a class="me-3 py-2 text-danger text-decoration-none" href="#">Support</a>
    </nav>
    <a class="btn btn-outline-danger me-3" href="#">Sign Up</a>
</div>