<div class="card">

    <div class="card-header">Filters</div>
    <div class="card-body">
        <Form>
            <div class="form-group">
                <label for="de">Min</label>
                <input type="number" id="de" class="form-control">
            </div>
            <div class="form-group">
                <label for="ate">Max</label>
                <input type="number" id="ate" class="form-control">
            </div>

            <div class="btn d-flex justify-content-center mt-2">
                <button class="btn btn-danger btn-block btn-sm" style="width: 80px;">Filter</button>
            </div> 
    


         </Form>

    </div>

</div>
